*.ini
*.pyc
*.pem
venv
config.ini
/__pycache/*
routes_old.py
faceDetectionService_old.py
oracle_conf.ini
putQueueMessageService.py
omkar.navik@growexx.com_2024-07-18T09_54_18.019Z.pem
omkar.navik@growexx.com_2024-10-17T09_00_36.801Z.pem
app.log